<div class="container help-cont ">
   <div class="panel-group" id="faqAccordion">
       <div class="panel panel-default ">
           <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                <h4 class="panel-title">
                   <p  class="ing">Q: What is Tumo Blog?</p>
             </h4>
 
           </div>
           <div id="question0" class="panel-collapse collapse" style="height: 0px;">
               <div class="panel-body">
                  
 
                   <p class="abc"> A: Tumo Blog is social network. Where can to sign up Tumo students. Others can  check their posts,rate and find out more about the life in Tumo.  </p>
               </div>
           </div>
       </div>
       <div class="panel panel-default ">
           <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                <h4 class="panel-title">
                 <p class="ing"> Q: Wich is the orignal page of Tumo center ?</p>
             </h4>
 
           </div>
           <div id="question1" class="panel-collapse collapse" style="height: 0px;">
               <div class="panel-body text-center">
                  
                  <a class="abc"  target="_blank" href="https://tumo.org/" > A: TUMO</a>
           </div>
       </div>
       <div class="panel panel-default ">
           <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                <h4 class="panel-title">
                   <p class="ing">Q: Where is Tumo Center ?</p>
             </h4>
 
           </div>
           <div id="question2" class="panel-collapse collapse" style="height: 0px;">
               <div class="panel-body">
                    <h5><span class="label label-primary"></span></h5>
 
                   <p class="abc" > A: The main Tumo center is in <a target="_blank" class="abc" href = "https://g.page/tumocenter?share">Yerevan</a> </p>
                   <p class="abc" style="margin:0px;">Others ` <a class="abc" target="_blank" href ="https://g.page/tumocenter?share">Stepanakert</a></p>
                   
           <div class="q">
                   <a class="abc" target="_blank" href ="https://goo.gl/maps/ELG8DdatvjvQAoMV8">Gyumri</a><br>
                   <a class="abc" target="_blank" href ="https://goo.gl/maps/rbRZLFgrXwsBPge77">Dilijan</a><br>
                   <a class="abc" target="_blank" href ="https://goo.gl/maps/UfRwrQvagBscu6sk6">Paris</a> <br>
                   <a class="abc" target="_blank"  href ="https://g.page/TumoBeirut?share">Beirut</a>
                   </div>
               </div>
           </div>
       </div>
           </div>
       </div>
      
   </div>
   <!--/panel-group-->
</div>
 
<div class="helpmails text-center">
<h2> Our Gmails for more question</h2>
<a  href="mailto:tigran.serobyan.y@tumo.org"> tigran.serobyan.y@tumo.org</a>
<br>
<a href="mailto:nare.abrahamyan.y@tumo.org"> nare.abrahamyan.y@tumo.org</a>
<br>
<a href="mailto:aramayis.y.y@tumo.org"> aramayis.y.y@tumo.org</a>
<br>
<a href="mailto:sahak.stepanyan.y@tumo.org"> sahak.stepanyan.y@tumo.org</a>
</div>
 
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>