/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body{
    background-image: url(/assets/back.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h2{
    color: #ff9933;
}

.form{
    top: 50%;
    transform: translate(0%, 80%);
}

.center{
    text-align: center;
}

.field{
    width: 20%;
    margin: auto;
}
.field input{
    width: 100%;
    border: solid 2px #ffcc00;
    outline: none;
    background: none;
    color: #ffcc00;
    padding: 5px 10px;
    border-radius: 10px;
}
.field input:focus{
    width: 100%;
    border: solid 2px #ff9933;
    color: #ff9933;
}
.field input[type='checkbox']{
    width: auto;
}
.field label{
    color: #ffcc00;
}
.field a{
    color: #ffcc00;
}
.actions{
    margin-top: 10px;
}
.actions input{
    color: #ff9933;
}