/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 html{
     height: 110%;
 }
 
 body{
     margin-top: 140px;
     height:100%;
     background-image: image-url('back.png');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     // position: relative;
     // background-size: 100% 100%;
 }
 
 h2{
     color: #fff;
     margin-bottom: 20px;
 }
 
 .form{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background: rgba($color: #000000, $alpha: 0.7);
     width: 50%;
     padding: 70px 50px;
     border-radius: 50px;
 }
 
 .center{
     text-align: center;
 }
 
 .field{
     width: 20%;
     margin: auto;
 }
 .field input{
     width: 200%;
     border: solid 2px #fff9;
     outline: none;
     background: none;
     color: #fff;
     padding: 5px 10px;
     border-radius: 5px;
     transition: 0.5s;
     margin-top: 15px;
     transform: translate(-23%,0%);
     
 }
 .field input:focus{
     border: solid 2px #fffe;
     color: #fff;
 }
 .field input[type='checkbox']{
     width: auto;
 }
 
 .field label{
     color: #eee;
 }
 .field-posts textarea{
     width: 100%;
     height: 200px;
     background-color: #1d1d1d;
     border-radius: 20px 20px 5px;
     border: 0px;
    color: #f2f4f7;
    padding: 10px;
    outline: none;
 }
 .field-posts input{
    width: 100%;
    background-color: #1d1d1d;
    border-radius: 20px;
    border: 0px;
   color: #f2f4f7;
   padding: 5px 15px;
   outline: none;
   outline: none;
   transition: 0.5s;
}
 .category select{
     margin-top: 20px;
     width: 100%;
     background-color: #1d1d1d;
    border-radius: 20px;
    color: white;
    outline: none;
    border: none;
}
.field-posts input[type='submit']:hover{
    background: #23747F;
}
 .category select option{
     width: 100%;
     height: 20px;
     background-color: #1d1d1d;
     border-radius: 20px;
     margin: 5px;
        
    }
 .media input{
     margin-top: 20px;
 }
.new-subm{

    margin: 20px auto;
}
.back-btn{
    position: relative;
    text-align: center;
    background: #333;
    color: white;
    padding: 5px;
    border-radius: 20px;
    text-decoration: none;
}
.back-btn:hover{
    background: #23747F;
}
.back-btn:hover{
    background: #23747F;
}

.navbar{
    top: 0;
    z-index: 10;
    background: #0d0d0d !important;
    position: fixed;
    width: 100%;
}

.navbar_secondary{
    top: 72px;
    z-index: 9;
    background: #1d1d1d !important;
    position: fixed;
    width: 100%;
    height: 50px;
}

h1 a{
    color: #f2f4f7 !important;
}
li a{
    color: #f2f4f7 !important;
    padding: 0 5px;
    margin: 0 5px;
}
.dropdown{
    position: relative;
    background: #333;
    padding: 10px;
}
.dropdown ul{
    display: block;
    position: absolute;
    font-size: 0;
    margin: 0;
    padding: 0;
    background: #0d0d0d;
    transform: translate(-100%,0);
    margin-top: 20px;
}
.dropdown ul li a{
    color: #f2f4f7 !important;
    text-decoration: none;
    display: block;
    padding: 0;
    margin: 0;  
}
.dropdown:hover ul li a{
    padding: 0 5px;
    margin: 0 5px;
}
.dropdown:hover ul{
    font-size: 16px;
    padding: 10px;
}
.profileIcon{
    background: #cacaca;
    padding: 20px;
    border-radius: 100%;
}
.navb{
    position: absolute;
    right: 50px;
}
.back_set{
    display: flex;
}
.back_set div a{
    margin:0px;
}
.back h2{
    background-color: #fff;
    transition: 2s;
    padding:10px 20px 10px 20px;
}

.show-content{
    height: 80vh;
}
.show-content .post-top {
    height: 10%;
}
.show-content .post-box {
    height: 80%;
    font-size: 18px;
}
.show-content .post-bottom {
    height: 10%;
}
.show-btn{
    position: relative;
    text-align: center;
    background: #333;
    color: white;
    padding: 5px;
    border-radius: 20px;
}
.show-btn:hover{
    background: #23747F;
}

 .actions input[type='submit']{
     background: #fffb;
     border: none;
     transition: 0.5s;
     font-size: 20px;
     margin-top: 15px;
 }
 .actions input[type='submit']:hover{
     background: #fffe;
 }
 a{
     display: inline-block;
     color: #fff !important;
     transition: 0.5s;
     margin-top: 10px;   
 }
 a:hover{
     color: #fffb !important;
 }
 
 
 .animation li{
     position: fixed;
     display: block;
     border: solid 12px #fff7 !important;
     border-radius: 30px;
     padding: 80px;
     animation: rotate 2s infinite linear;
     z-index: -1;
 }
 
 .animation li:nth-child(1){
     top: 15%;
     left: 25%;
     animation-duration: 2.2s;
 }
 
 @media (max-width: 800px) {
     .animation li:nth-child(1), .animation li:nth-child(3), .animation li:nth-child(5){
         display: none;
     }
 }
 
 // @media (max-width: 500px) {
 //     .animation li:nth-child(2), .animation li:nth-child(4), .animation li:nth-child(6){
 //         // display: none;
     
 // }
 
 .animation li:nth-child(2){
     top: 40% !important;
     left: 1% !important ;
     animation-duration: 2.8s;
 }
 
 .animation li:nth-child(3){
     bottom: 15%;
     left: 30%;
     animation-duration: 1.8s;
 }
 
 .animation li:nth-child(4){
     top: 5%;
     right: 5%;
     animation-duration: 2s;
 }
 
 .animation li:nth-child(5){
     top: 35%;
     right: 20%;
     animation-duration: 1.6s;
 }
 
 .animation li:nth-child(6){
     bottom: 2%;
     right: 1%;
     animation-duration: 1.4s;
 }
 
 @keyframes rotate {
     0%{
         transform: rotate(0deg);
     }
     100%{
         transform: rotate(90deg);
     }
 }
 .navbar{
     top: 0;
     z-index: 10;
     background: #0d0d0d !important;
     position: fixed;
     width: 100%;
 }
 
 .navbar_secondary{
     top: 72px;
     z-index: 9;
     background: #1d1d1d !important;
     position: fixed;
     width: 100%;
     height: 50px;
 }
 
 h1 a{
     color: #f2f4f7 !important;
 }
 li a{
     color: #f2f4f7 !important;
     padding: 0 5px;
     margin: 0 5px;
 }
 .dropdown{
     position: relative;
     background: #333;
     padding: 10px;
 }
 .dropdown ul{
     display: block;
     position: absolute;
     font-size: 0;
     margin: 0;
     padding: 0;
     background: #0d0d0d;
     transform: translate(-100%,0);
     margin-top: 20px;
 }
 .dropdown ul li a{
     color: #f2f4f7 !important;
     text-decoration: none;
     display: block;
     padding: 0;
     margin: 0;  
 }
 .dropdown:hover ul li a{
     padding: 0 5px;
     margin: 0 5px;
 }
 .dropdown:hover ul{
     font-size: 16px;
     padding: 10px;
 }
 .profileIcon{
     background: #cacaca;
     padding: 20px;
     border-radius: 100%;
 }
 .navb{
     position: absolute;
     right: 50px;
 }
 .secondaryMenu{
    top: 72px;
    z-index: 9;
    background: #1d1d1d !important;
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 0 15%;
}
.secondaryMenu li{
   color: #f2f4f7;
   margin: 0 10px;
   cursor: pointer;
}
.secondaryMenu li:hover{
   color: #87B3B9;
}
.secondaryMenu .active{
   color: #23747F;
}
.secondaryMenu .active:hover{
   color: #23747F;
}
.secondaryMenu li:nth-child(1){
   margin-left: 0;
}
 .back_set{
     display: flex;
 }
 .back_set div a{
     margin:0px;
 }
 .back h2{
     background-color: #fff;
     transition: 2s;
     padding:10px 20px 10px 20px;
 }
 .back h2 a{
     color: black;
     text-decoration: none;
 }
 .back h2:hover{
     background-color: #b6b3b3;
     transition: 2s;
 }
 .unhappy input:hover{
     background-color: rgba(216, 36, 36, 0.842) !important;
 }
 .link a{
     margin: 15px;
 }
 .new-post{
     background-color: #1d1d1d;
     border-radius: 15px;
    margin: 0 auto;
    transition: 0.3s linear;;
}
 .new-post a{
     margin: 15px;
 }
 .new-post:hover{
     background-color: #11373C;
     padding: 10px;
 }
 @media (max-width: 800px) {
     .field input {
         width: 200px;
     }
     .form{
         width: 90%;
     }
     .form form{
         margin-right: 67px ;
     }
     .log{
         margin-left:65px;
     }
     .flx{
         display:flex;
     }
     // .actions input[type='submit']{
     //     margin:auto;
     // }
 }
 .main-text{
     text-align: center;
     color: #eee;
     font-size: 25px;
 }


//  comments
.comment_form{
    display: flex;
    justify-content: space-around;
   
 }
 .comment_form input{
    margin: 0 auto;
    background-color: #1d1d1d;
    border-radius: 15px;
    border: 0px;
    height: 30px;
    color: white;
    outline: none;
 }
 .comment_form input[type=submit]{
    transition: 0.2s linear;
  
 }
 .comment_form input[type=submit]:hover {
    background-color: #23747F;
    color: white;
 }
 .comment_form #comment_body{
    width: 90%;
}
.comment-row{
    color: white;
    margin: 15px 0;
    padding: 10px 0; 
    border-bottom: dashed 2px #3c3c3c;
}
.comment-time{
    font-size: 10px;
    font-weight: 200;
}
.comment-username{
    font-size: 16px;
    font-weight: 800;
}
.htt{
    font-weight: bold;
    vertical-align: middle;
    font-size: 20px;
    margin-top: 40px;
}
//tiko anim body
body{
    background:#000;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
    
    .wave{
    position: fixed;
    z-index: 1;
    }
    .wave li{
    list-style-type: none;
    padding: 2000px;
    position: fixed;
    border-radius: 40%;
    }
    .wave li:nth-child(1){
    background: #9BD6DDee;
    animation: rotate 7s linear infinite;
    left: -900px;
    top: -450px;
    }
    .wave li:nth-child(2){
    background: #0A98AA33;
    animation: rotate 10s linear infinite;
    left: -600px;
    top: -300px;
    }
    .wave li:nth-child(3){
    background: #05819133;
    animation: rotate 11s linear infinite;
    left: -300px;
    top: -150px;
    }
    .wave li:nth-child(4){
    background: #096A7733;
    animation: rotate 12s linear infinite;
    left: 0px;
    top: 0px;
    }
    .wave li:nth-child(5){
    background: #07566033;
    animation: rotate 14s linear infinite;
    left: 250px;
    top: 200px;
    }
    @keyframes rotate{
    0%{
    transform:rotate(0deg);
    border-radius: 30%;
    }
    50%{
    transform:rotate(180deg);
    border-radius: 45%;
    }
    100%{
    transform:rotate(360deg);
    border-radius: 30%;
    }
    }
    
    .balloons{
        position: fixed;
        width: 100%;
        bottom: -100px;
    }
    .balloons li{
        position: fixed;
        list-style-type: none;
        padding: 10px;
        border-radius:50%;
        background: #ddd;
        border: solid 5px white;
        animation: 10s up linear infinite;
    }
    @keyframes up{
    0%{
        bottom: -100px;
    }
    100%{
        bottom: calc(100% + 10px);
    }
    }
    .balloons li:nth-child(1){
        animation-delay: 1s;
        animation-duration: 10s;
        left: 5%;
    }
    .balloons li:nth-child(2){
        animation-delay: 9s;
        animation-duration: 8s;
        left: 15%;
    }
    .balloons li:nth-child(3){
        animation-delay: 3s;
        animation-duration: 6s;
        left: 25%;
    }
    .balloons li:nth-child(4){
        animation-delay: 7s;
        animation-duration: 8s;
        left: 35%;
    }
    .balloons li:nth-child(5){
        animation-delay: 4s;
        animation-duration: 6s;
        left: 45%;
    }
    .balloons li:nth-child(6){
        animation-delay: 8s;
        animation-duration: 10s;
        left: 55%;
    }
    .balloons li:nth-child(7){
        animation-delay: 10s;
        animation-duration: 6s;
        left: 65%;
    }
    .balloons li:nth-child(8){
        animation-delay: 2s;
        animation-duration: 8s;
        left: 75%;
    }
    .balloons li:nth-child(9){
        animation-delay: 5s;
        animation-duration: 4s;
        left: 85%;
    }
    .balloons li:nth-child(10){
        animation-delay: 6s;
        animation-duration: 10s;
        left: 95%;
    }
    
 @media (max-height: 800px) {
     .form{
         margin-top: calc(70px);
         // height: 100px;
     }
     html{
         height: 115%;
     }
 }
 @media (max-height: 600px) {
     .form{
         margin-top: calc(143px);
         padding: 50px;
         width:100%;
     }
     html{
         height: 150%;
     }
 }
.vote-icon{
    transform: translate(400%, -400%);
 }
 @media only screen and (max-width: 1200px){
    .vote-icon{
        transform: translate(310%, -400%);
    }
   }
   @media only screen and (max-width: 991px){

    .vote-icon{
      transform: translate(195%, -400%);
   }
   nav.secondaryMenu.navbar-expand-lg{
       height: 100px;
   }
   body{
       margin-top: 200px;
   }
} 