<nav class="navbar_secondary navbar-expand-lg navbar-light bg-light ">
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav navb">
          <li class="navbar-text">

          </li>
          <li class="navbar-text">
            
          </li>
    </ul>
  </div>
</nav>